* {
    box-sizing: border-box;
}

#header {
  background-color: blue;
  color: white;
  padding: 10px;
  height: 150px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

#content-box {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

#map-box {
  display: flex;
  width: 100%;
}

#food-box, #weather-box, #events-box {
  width: 50%;
  background-color: lightblue;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 300px;
        width: 50%;
        z-index: 1;
        border-radius: 20px;
        margin: 10px;
      }
      /* Optional: Makes the sample page fill the window. */
      body {
        margin: 0;
        margin-top: 150px;
        font-family: 'Abel', sans-serif;

        /*padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;*/
      }
      #description {
        font-family: 'Abel', sans-serif;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: 'Abel', sans-serif;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: 'Abel', sans-serif;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: 'Abel', sans-serif;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        margin-top: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

@media only screen and (max-width:600px) {

  #map, #weather-box, #events-box, #food-box {
   width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  #content-box {
    display: block;
  }
  #map-box {
    display: block;
  }
}